
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --gold: rgb(255, 215, 0);

  --pastelRed: #ffaaaa;
  --pastelOrange: #ffddaa;
  --deepOrange: #ff9756;
  --pastelYellow: #fbffaa;
  --deepYellow: #ffe561;
  --pastelGreen: #aaffaa;
  --deepGreen: #56ff93;
  --lightBlue: #6af1fd;
  --cyan: #56ddff;
  --pastelBlue: #aac8ff;
  --normalText: #ccc9c6;
  --darkGray: #878787;

  --h1: 4.5em;
  --h2: 3em;
  --h3: 2em;
  --h4: 1.5em;
  --p: 1em;
  --standard: 0.75em;

  --godly: linear-gradient(to bottom right, #ff0000, #ffbb00, #bbff00, #00ff4c, #00c3ff, #ff00ff);
  --godlyText: linear-gradient(to right, #ff0000, #ffbb00, #bbff00, #00ff4c, #00c3ff, #ff00ff);
}

body {
  font-family: 'Kanit', sans-serif;
  min-height: 100vh;
  font-size: var(--standard);
  background-color: rgb(25, 25, 25);
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  color: white;
}

h1 {font-size: var(--h1)}
h2 {font-size: var(--h2)}
h3 {font-size: var(--h3)}
h4 {font-size: var(--h4)}
p {font-size: var(--p)}
#text {font-size: var(--standard)}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: #17171c;
}
::-webkit-scrollbar-thumb {
  background-color: #48005e;
  border-radius: 1em;
}

button, a, input, textarea {
  font-family: 'Kanit', sans-serif;
  color: black;
  border-color: black;
  touch-action: manipulation;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  h1 {font-size: 4.15em}
  h2 {font-size: 2.65em}
  h3 {font-size: 1.65em}
  h4 {font-size: 1.2em}
}

@media (pointer: coarse) {
  body {
    font-family: "Rubik", sans-serif;
  }
  button, a, input, textarea {
    font-family: "Rubik", sans-serif;
  }
}