# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vscode
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.local-data
.env
.env.*
!.env.example
