@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
  --gradientGray1: #5a5a5c;
  --gradientGray2: #313238;
  --gradientGray3: #27282e;
  --gradientGray4: #17171c;
  --content: rgba(0, 0, 0, 0.15);
  --greenContent: rgba(68, 255, 114, 0.15);
  --redContent: rgba(255, 124, 124, 0.15);
  --content2: rgba(255, 255, 255, 0.05);
  --footer: rgba(0, 0, 0, 0.35);
  --transparent: rgba(255, 255, 255, 0.1);

  --lightHeader: rgba(255, 255, 255, 0.5);
  --darkHeader: rgba(0, 0, 0, 0.5);

  --lightGradientGray1: #c9c9ec;
  --lightGradientGray2: #c0c6df;
  --lightGradientGray3: #b9bcce;
  --lightGradientGray4: #b7b7c0;
  --lightContent: rgba(255, 255, 255, 0.15);
  --lightFooter: rgba(255, 255, 255, 0.35);
  --lightTransparent: rgba(0, 0, 0, 0.1);

  --red: rgb(255, 0, 0);
  --orange: rgb(255, 165, 0);
  --gold: rgb(255, 215, 0);
  --yellow: rgb(255, 255, 0);
  --green: rgb(0, 255, 0);
  --blue: rgb(0, 0, 255);
  --hotPink: rgb(255, 0, 255);
  --lightPink: rgb(255, 192, 203);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --pastelRed: #ffaaaa;
  --pastelOrange: #ffddaa;
  --deepOrange: #ff9756;
  --pastelYellow: #fbffaa;
  --deepYellow: #ffe561;
  --pastelGreen: #aaffaa;
  --deepGreen: #56ff93;
  --aqua: #5bffd2;
  --turquoise: #1abc9c;
  --lightBlue: #6af1fd;
  --cyan: #56ddff;
  --pastelBlue: #aac8ff;
  --pastelPink: #ffaafe;
  --deepPink: #f467cb;
  --normalText: #ccc9c6;
  --darkGray: #878787;
  --invisible: #222222;

  --h1: 5vh;
  --h2: 3.5vh;
  --h3: 2.5vh;
  --p: 2vh;
  --standard2: 1.5vh;
  --standard: 1vh;

  --pImgWidth: 9.4078vh; /* 1.44736842vh width : 1vh height*/
  --pImgHeight: 6.5vh;
  --standard2ImgWidth: 6.5132vh;
  --standard2ImgHeight: 4.5vh;
  --standardImgWidth: 4.3421vh;
  --standardImgHeight: 3vh;
}

.light {
  background: linear-gradient(to bottom right, var(--lightGradientGray1), var(--lightGradientGray2), var(--lightGradientGray3), var(--lightGradientGray4));
  color: black;
}

.dark {
  background: linear-gradient(to bottom right, var(--gradientGray1), var(--gradientGray2), var(--gradientGray3), var(--gradientGray4));
  color: white;
}

.lightButton {
  color: black;
}

.darkButton {
  color: white;
}

.lightHeader {
  background: linear-gradient(to bottom, var(--lightHeader) 90%, rgba(0, 0, 0, 0));
}

.darkHeader {
  background: linear-gradient(to bottom, var(--darkHeader) 90%, rgba(0, 0, 0, 0));
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
}

#text {
  font-size: var(--standard);
}

body {
  font-family: 'Kanit', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  transition: all 1.25s;
  font-size: var(--standard);
}

footer {
  background-color: var(--footer);
  text-align: center;
  position: relative;
  bottom: 0;
  width: 99.165vw;
  height: 18vh;
  margin-top: 3vh;
}

header {
  text-align: center;
  position: relative;
  top: 0;
  width: 99.165vw;
  height: 23vh;
  margin-bottom: 2vh;
}

button {
  font-family: 'Kanit', sans-serif;
}

img {
  height: 6vh;
  width: 6vh;
  margin: 0.2vw;
  margin-bottom: 0;
  background-color: var(--transparent);
  border-radius: 3vh;
}

.red {color: var(--red)}
.orange {color: var(--orange)}
.gold {color: var(--gold)}
.yellow {color: var(--yellow)}
.green {color: var(--green)}
.blue {color: var(--blue)}
.hotPink {color: var(--hotPink)}
.lightPink {color: var(--lightPink)}
.white {color: var(--white)}
.black {color: var(--black)}
.underline {text-decoration: underline}
.pastelRed {color: var(--pastelRed)}
.pastelOrange {color: var(--pastelOrange)}
.deepOrange {color: var(--deepOrange)}
.pastelYellow {color: var(--pastelYellow)}
.deepYellow {color: var(--deepYellow)}
.pastelGreen {color: var(--pastelGreen)}
.deepGreen {color: var(--deepGreen)}
.aqua {color: var(--aqua)}
.turquoise {color: var(--turquoise)}
.lightBlue {color: var(--lightBlue)}
.cyan {color: var(--cyan)}
.pastelBlue {color: var(--pastelBlue)}
.pastelPink {color: var(--pastelPink)}
.deepPink {color: var(--deepPink)}
.normalText {color: var(--normalText)}
.darkGray {color: var(--darkGray)}
.invisible {color: var(--invisible)}

#redButton {background-color: var(--red); color: var(--red)}
#orangeButton {background-color: var(--orange); color: var(--orange)}
#goldButton {background-color: var(--gold); color: var(--gold)}
#yellowButton {background-color: var(--yellow); color: var(--yellow)}
#greenButton {background-color: var(--green); color: var(--green)}
#blueButton {background-color: var(--blue); color: var(--blue)}
#hotPinkButton {background-color: var(--hotPink); color: var(--hotPink)}
#lightPinkButton {background-color: var(--lightPink); color: var(--lightPink)}
#whiteButton {background-color: var(--white); color: var(--white)}
#blackButton {background-color: var(--black); color: var(--black)}
#pastelRedButton {background-color: var(--pastelRed); color: var(--pastelRed)}
#pastelOrangeButton {background-color: var(--pastelOrange); color:var(--pastelOrange)}
#deepOrangeButton {background-color: var(--deepOrange); color: var(--deepOrange)}
#pastelYellowButton {background-color: var(--pastelYellow); color: var(--pastelYellow)}
#deepYellowButton {background-color: var(--deepYellow); color: var(--deepYellow)}
#pastelGreenButton {background-color: var(--pastelGreen); color: var(--pastelGreen)}
#deepGreenButton {background-color: var(--deepGreen); color: var(--deepGreen)}
#aquaButton {background-color: var(--aqua); color: var(--aqua)}
#turquoiseButton {background-color: var(--turquoise); color: var(--turquoise)}
#lightBlueButton {background-color: var(--lightBlue); color: var(--lightBlue)}
#cyanButton {background-color: var(--cyan); color: var(--cyan)}
#pastelBlueButton {background-color: var(--pastelBlue); color: var(--pastelBlue)}
#pastelPinkButton {background-color: var(--pastelPink); color: var(--pastelPink)}
#deepPinkButton {background-color: var(--deepPink); color: var(--deepPink)}
#normalTextButton {background-color: var(--normalText); color: var(--normalText)}
#darkGrayButton {background-color: var(--darkGray); color: var(--darkGray)}
#invisibleButton {background-color: var(--invisible); color: var(--invisible)}

.buttonsArray {
  background-color: var(--content);
  display: flex;
  flex-wrap: wrap;
  width: 66vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  padding: 0.5vw;
}

#textBox,
#outputBox {
  background-color: var(--content);
  height: 40vh;
  width: 40vw;
  border-radius: 3vw;
  margin: auto;
  font-size: var(--p);
}

#textBox:focus {
  outline-color: var(--pastelBlue);
}

.button {
  height: 50px;
  width: 50px;
  border-radius: 6vh;
  font-size: 1px;
  border: 0;
  margin: 0.15vw;
  transition: all 0.5s;
}

.button:hover {
  transform: scale(1.05);
  border-radius: 1vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 99vw;
}

.cardTitles {
  display: flex;
  justify-content: space-around;
  width: 99vw;
}

#resetButton {
  height: 7vh;
  width: 15vh;
  border-radius: 4vh;
  border-color: black;
  color: black;
  background-color: var(--pastelRed);
  transition: all 0.5s;
}

#resetButton:hover {
  transform: scale(1.33);
  border-color: red;
  border-width: 0.5vw;
}

#messageCharacterCounter {
  margin-top: 10vh;
}

.RAResultsHolder {
  background-color: var(--content);
  border-radius: 5vw;
  width: 60vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
}

.RAResults {
  border-radius: 5vw;
  width: 30vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
}

.RAResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RAData {
  display: flex;
  align-items: center;
}

.RADataPercent {
  display: flex;
}

.RADataImg {
  display: flex;
  width: var(--pImgWidth);
  height: var(--pImgHeight);
  background-color: rgba(0, 0, 0, 0);
}

#gravityAssistIcon,
#gravityAssistTitle {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  vertical-align: middle;
}

.RAButton {
  padding: 0.75vh;
  margin: 0.5vh;
  border-radius: 3vh;
  border-width: 0.1vh;
  transition: all 0.5s, border-width 0.1s, border-color 0.1s;
}

.RAButton:hover {
  transform: scale(1.1);
}

.RAButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.manufacturers,
.directions,
.scopes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  background-color: var(--content);
  border-radius: 7vh;
  padding: 3vh;
}

.active {
  background-color: var(--deepGreen);
  border-color: var(--deepGreen);
  transform: scale(1.1);
}

.navButtons {
  width: 99vw;
  margin: auto;
}

.navButton {
  background-color: var(--content);
  border: 0;
  height: 5vh;
  transition: all 0.5s;
}

.navButton:hover {
  transform: scale(1.05);
  background-color: var(--content2);
}

.activeHeaderButton {
  background-color: var(--lightContent);
  border: var(--deepGreen);
  border-width: 0.5vh;
  transform: scale(1.05);
}

.latestChange,
.allChange {
  padding: 2vh;
  border-radius: 3vh;
  margin-bottom: 10vh;
  margin-top: 5vh;
  width: 66vw;
}

.latestChange {
  background-color: var(--greenContent);
}

.allChange {
  background-color: var(--redContent);
}

#loadAllChanges,
#hideAllChanges {
  margin-bottom: 3vh;
  border-radius: 2vh;
  padding: 2vh;
  border-width: 0.1vh;
  transition: all 0.5s;
  width: 20vh;
}

#loadAllChanges:hover,
#hideAllChanges:hover {
  transform: scale(1.05);
}

#loadAllChanges {
  background-color: var(--deepGreen);
  border-color: var(--deepGreen);
}

#hideAllChanges {
  background-color: var(--pastelRed);
  border-color: var(--pastelRed);
}

.links {
  margin-bottom: 1vh;
}

.shipOverall {
  display: flex;
  flex-direction: column;
  background-color: var(--content);
  padding: 3vh;
  border-radius: 3vh;
  margin-bottom: 5vh;
  width: 70vw;
  align-items: center;
}

.shipModShowcase {
  background-color: var(--content);
  padding: 3vh;
  border-radius: 3vh;
  width: 70vw;
}

.modWeaponHolder {
  width: 70vw;
  margin-top: 3vh;
}

.modWeapon {
  background-color: var(--content);
  padding: 3vh;
  border-radius: 3vh;
  width: 70vw;
  margin-top: 3vh;
}

#modShipImg {
  width: 36.1842vh;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0);
}

.shipMods {
  display: flex;
  flex-direction: column;
  width: 20vh;
}

.shipModHolder {
  margin-top: 0.5vh;
}

.modButton {
  height: 5vh;
  transition: all 0.5s;
  width: 3vw;
  height: 3vh;
  border-radius: 1vh;
  border-width: 0.1vh;
}

.modButton:hover {
  transform: scale(1.05);
}

#modStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#modHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#antishipBar,
#antiairBar,
#siegeBar,
#hpBar,
#armorBar,
#shieldBar {
  width: 22vw;
  height: 3vh;
  background-color: var(--footer);
  border-radius: 3vh;
}

.fillerBar {
  height: 100%;
  background-color: var(--pastelOrange);
  border-radius: 3vh;
}

.fillerBarArmor {
  height: 100%;
  background-color: var(--pastelBlue);
  border-radius: 3vh;
}

.weaponImg {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  width: 6vh;
  height: 6vh;
}

.modWeaponStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#damageType,
#dph,
#prioritizedTarget,
#modWeaponLockon {
  width: 30vw;
}

.appButtonDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content);
  padding: 3vh;
  border-radius: 5vh;
  width: 30vh;
}

.appButton {
  width: 25vh;
  margin-bottom: 1vh;
  padding: 1vh;
  border-radius: 5vh;
  border-width: 0.1vh;
  transition: all 0.5s;
}

#colorGeneratorAppButton {background-color: var(--pastelRed)}
#researchAgreementAppButton {background-color: var(--pastelOrange)}
#modLibraryAppButton {background-color: var(--pastelYellow)}

.appButton:hover {
  transform: scale(1.2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moveShipsButton {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

#previousShipButton,
#nextShipButton {
  width: 15vw;
  height: 5vh;
  border-radius: 2vh;
  border-width: 0.1vh;
  transition: all 0.5s;
}

#previousShipButton {background-color: var(--pastelRed)}
#nextShipButton {background-color: var(--pastelGreen)}

#previousShipButton:hover,
#nextShipButton:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
  .RAResultsHolder {
    width: 70vw;
  }

  .RAResults {
    width: 40vw;
  }
  .RAData {
    font-size: var(--standard2);
  }

  .RADataImg {
    width: var(--standard2ImgWidth);
    height: var(--standard2ImgHeight);
  }
}

@media screen and (max-width: 800px) {
  .RAButtons {
    width: 95vw;
  }

  .manufacturers,
  .directions,
  .scopes {
    width: 15vw;
  }

  .RAResultsHolder {
    width: 70vw;
  }

  .RAResults {
    width: 60vw;
  }

  .RADataImg {
    width: var(--standardImgWidth);
    height: var(--standardImgHeight);
  }

  .RAButton {
    font-size: var(--standard);
    width: 17vw;
  }

  h1 {
    font-size: var(--h2);
  }

  h2 {
    font-size: var(--h3);
  }

  h3 {
    font-size: var(--p);
  }

  p {
    font-size: var(--standard2);
  }

  #text {
    font-size: var(--standard);
  }

  #modShipImg {
    width: 21.7105vh;
    height: 15vh;
  }

  .modButton {
    width: 3vh;
  }
  
  .weaponImg {
    width: 3vh;
    height: 3vh;
  }
}